html, body { margin: 0; padding: 0; }

html {
	font: 18px /1.5em Georgia, "Times New Roman", Times, serif;
}

a {
	text-decoration: none;
	color: #28f;
}

a:hover {
	text-decoration: underlined;
}

#new-game, #status, #turn-stat {
	display: block;
}

#stats, #turn-stat {
	line-height: 1em;
	font-size: 18px;
}

#stats {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	padding: 0px 10px 5px;
	border-bottom: 1px solid #ccc;
}

#status {
	letter-spacing: .2em;
	font: bold 22px /1em "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
	margin: 20px 0;
}

#bottom-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 10px 0px;
}

#top-bar, #bottom-bar {
	margin: 20px 3px;
	transition: margin 400ms,
	            font-size 400ms;
}

#middle {
	background: #aaa;
	background-position: 50% 50%;
	border: 1px solid rgba(0, 0, 0, .4);
}

#board-container {
	border: 2px solid #000;
	border-radius: 5px;
	background: #000;
	margin: 20px;
}

#board {
	display: table;
	
	width: 100%;
	
	/* Disable user selection */
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
	
	transition: margin 400ms,
	            border-width 400ms,
	            border-radius 400ms,
	            padding 400ms;
}

#top-bar:after {
	display: block;
	content: "";
	clear: both;
}

#page-footer {
	text-align: center;
	
	padding: 5px 10px 20px;
	border-top: 1px solid #ccc;
}

.centralized {
	min-width: 200px;
	max-width: 372px;
	
	margin-left: auto;
	margin-right: auto;
}

.square-row {
	display: table-row;
	
	height: 33.33333%;
}

.square-cell {
	position: relative;
	display: table-cell;
	
	width: 33.33333%;
}

.square {
	position: absolute;
	left: 2px; right: 2px;
	top: 2px; bottom: 2px;
	
	background-size: 200% 300%;
	
	background-color: #fff;
	border-radius: 5px;
}

.square.marked {
	background-image: url("marks.svg");
	background-repeat: no-repeat;
}

#board.finished .square:not(.highlighted) {
	background-color: #ccc;
}

#board:not(.finished) .square:not(.marked):hover {
	cursor: pointer;
	background-image: url("marks.svg");
	background-position: 0% 0%;
}

.square.marked.cross { background-position: 0% 50%; }
.square.marked.circle { background-position: 100% 50%; }


#board.finished .square.marked.cross:not(.highlighted) {
	background-position: 0% 100%;
}

#board.finished .square.marked.circle:not(.highlighted) {
	background-position: 100% 100%;
}